* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--green: #59f0aa;
	--red: #ff8585;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: blueviolet;
	max-width: 100%;
	font-family: "Chakra Petch", sans-serif;
	/* max-height: 100vh; */
}

#title {
	color: white;
	font-size: 5rem;
	font-family: "Monoton", cursive;
}

span {
	display: block;
	width: 50px;
	height: 50px;
	margin: 5px;
	background-color: rgb(255, 255, 255);
}

span > input {
	height: 100%;
	width: 100%;
	line-height: 100%;
	font-size: 50px;
	text-align: center;
	color: blueviolet;
	border: none;
	outline: none;
	cursor: pointer;
}

span > input:focus {
	outline: 3px solid orange;
}

span > input:disabled {
	cursor: default;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.sudokuContainer {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 540px;
	margin: 30px 30px 40px 30px;
}

.part {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 180px;
}

/* LINES */
.border {
	position: absolute;
	/* position: fixed; */
	z-index: 10;
	width: 570px;
	height: 10px;
	background-color: rgb(255, 255, 255);
}

.border.active {
	transition: 1.5s all;
	width: 540px;
	background-color: rgb(0, 0, 0);
}

.line-1 {
	top: -15px;
	left: -15px;
}

.line-1.active {
	transform: translate(15px, 190px);
}

.line-2 {
	transform: rotate(90deg);
	top: 265px;
	left: 265px;
}

.line-2.active {
	transform: translate(-175px, 0px) rotate(90deg);
}

.line-3 {
	transform: rotate(90deg);
	top: 265px;
	left: -295px;
}

.line-3.active {
	transform: translate(205px, 0px) rotate(90deg);
}

.line-4 {
	/* transform: translate(280px, 0px) rotate(90deg); */
	top: 545px;
	left: -15px;
}

.line-4.active {
	transform: translate(15px, -190px);
}

/* MENU */

.menu {
	width: 570px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-top: 50px;
	padding-bottom: 40px;
}

.notes {
	position: absolute;
	width: 700px;
	text-align: center;
	color: white;
	font-weight: 500;
	left: 50%;
	transform: translate(-50%, -60px);
	margin: 0;
	transition: 1s all;
	/* animation-fill-mode: forwards; */
	/* border-right: 0.15em solid orange;
	white-space: nowrap;
	margin: 0 auto; 
	letter-spacing: 0.1px; 
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
	overflow: hidden;  */
}

.hidden {
	display: none;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* @keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
} */

.statistics {
	display: flex;
	font-size: 24px;
}

.statistics div {
	margin-left: 30px;
}

.statistics div p {
	font-family: "Chakra Petch", sans-serif;
	display: inline;
	/* width: 100px; */
	/* background-color: none; */
}

#wins::after {
	background: var(--green);
}

#loses::after {
	background: var(--red);
}

.stat-numbers {
	position: relative;

	/* width: auto; */
}

.stat-numbers::after {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 150%;
	z-index: -1;
	opacity: 0.9;
	transform: scale(1.07, 1.05) skewX(-15deg) translateX(-10%);
}

.new-game {
	width: auto;
	margin-right: 30px;
	padding: 12px 16px;
	border-radius: 40px;
	border: 2px solid white;
	color: blueviolet;
	cursor: pointer;
	line-height: 24px;
	font-size: 24px;
	font-family: "Chakra Petch", sans-serif;
	transition: 0.5s all;
}

.new-game:hover {
	color: white;
	background-color: blueviolet;
	/* border: 2px solid white; */
}
