* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--green: #59f0aa;
	--red: #ff8585;
}

body {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: blueviolet;
	font-family: "Chakra Petch", sans-serif;
	transition: background-color 0.5s ease;
}

body.victory {
	background-color: var(--green);
}

#title {
	color: white;
	font-size: 5rem;
	font-family: "Monoton", cursive;
	transition: content 0.5s linear;
	z-index: 5;
}

span {
	display: block;
	width: 50px;
	height: 50px;
	margin: 5px;
	background-color: rgb(255, 255, 255);
	z-index: 5;
}

span > input {
	height: 100%;
	width: 100%;
	line-height: 100%;
	font-size: 50px;
	text-align: center;
	color: blueviolet;
	border: none;
	outline: none;
	cursor: pointer;
}

span > input.active {
	animation: fadeIn 2s linear;
}

span > input:focus {
	outline: 3px solid orange;
}

span > input:disabled {
	cursor: default;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.sudokuContainer {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 540px;
	margin: 30px 30px 40px 30px;
}

.part {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 540px;
}

/* LINES */
.border {
	position: absolute;
	/* position: fixed; */
	z-index: 10;
	width: 570px;
	height: 10px;
	background-color: rgb(255, 255, 255);
}

.border.active {
	transition: 1.5s all;
	width: 540px;
	background-color: rgb(0, 0, 0);
}

.line-1 {
	top: -15px;
	left: -15px;
}

.line-1.active {
	transform: translate(15px, 190px);
}

.line-2 {
	transform: rotate(90deg);
	top: 265px;
	left: 265px;
}

.line-2.active {
	transform: translate(-175px, 0px) rotate(90deg);
}

.line-3 {
	transform: rotate(90deg);
	top: 265px;
	left: -295px;
}

.line-3.active {
	transform: translate(205px, 0px) rotate(90deg);
}

.line-4 {
	/* transform: translate(280px, 0px) rotate(90deg); */
	top: 545px;
	left: -15px;
}

.line-4.active {
	transform: translate(15px, -190px);
}

/* MENU */

.menu {
	z-index: 4;
	width: 570px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	margin-top: 50px;
	padding-bottom: 40px;
}

.notes {
	position: absolute;
	width: 700px;
	text-align: center;
	color: white;
	font-weight: 500;
	left: 50%;
	transform: translate(-50%, -60px);
	margin: 0;
	transition: 1s all;
}

.hidden {
	display: none;
}

.fadeOut {
	animation: fadeOut 1s linear 2s forwards;
}

.fadeInOut {
	animation: fadeInOut 4s linear forwards;
}

@keyframes fadeInOut {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
	0% {
		opacity: 0;
	}
}

.moveUp {
	transition: 1s linear all;
	transform: translate(0px, -40px);
}

.statistics {
	display: flex;
	font-size: 24px;
}

.statistics div {
	margin-left: 30px;
}

.statistics div p {
	font-family: "Chakra Petch", sans-serif;
	display: inline;
	z-index: 3;
	/* width: 100px; */
	/* background-color: none; */
}

#wins::after {
	background: var(--green);
}

.stat-numbers {
	position: relative;
}

.stat-numbers::after {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 150%;
	z-index: -1;
	opacity: 0.9;
	transform: scale(1.07, 1.05) skewX(-15deg) translateX(-10%);
}

.new-game {
	width: auto;
	margin-right: 30px;
	padding: 12px 16px;
	border-radius: 40px;
	border: 2px solid white;
	color: blueviolet;
	cursor: pointer;
	line-height: 24px;
	font-size: 24px;
	font-family: "Chakra Petch", sans-serif;
	transition: 0.5s all;
}

.new-game:hover {
	color: white;
	background-color: blueviolet;
}

/* BACKGROUND */

.backLine {
	position: fixed;
	z-index: 2;
	transition: background-color 0.5s ease;
}

.backline-1 {
	width: 150vh;
	height: 15vh;
	background-color: var(--green);
	transform: rotate(-70deg) translate(0px, -100%);
}

.backline-1.victory {
	background-color: var(--red);
}

.backline-2 {
	width: 200vh;
	height: 8vw;
	background-color: var(--red);
	transform: rotate(40deg) translate(0px, -100%);
}

.backline-2.victory {
	background-color: blueviolet;
}

.showNums {
	display: none;
}

.options {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 120px;
	background-color: var(--red);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgb(95, 90, 90);
	padding: 10px;
}

.option {
	padding: 0;
	margin: 0;
	width: 33px;
	height: 33px;
	font-size: 24px;
	background-color: transparent;
	color: white;
	text-align: center;
	line-height: 33px;
	border-radius: 20px;
}
